{
    "openapi": "3.0.2",
    "info": {
        "title": "API Documentation",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://data.cms.gov/provider-data/api/1",
            "description": "CMS Provider Data API V1"
        }
    ],
    "tags": [
        {
            "name": "Metastore",
            "description": "Work with metadata items."
        },
        {
            "name": "Metastore: dataset",
            "description": "CRUD operations for dataset metastore items. Substitute any other schema name for \"dataset\" to modify other items."
        }
    ],
    "paths": {
        "/datastore/imports": {
            "get": {
                "tags": [
                    "Datastore: import"
                ],
                "summary": "List datastores",
                "description": "Returns a list of all stored importers, with data about their file fetcher and status.\n",
                "operationId": "datastore-list",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Datastore: import"
                ],
                "summary": "Datastore import",
                "description": "Immediately starts the import process for a datastore.\n",
                "operationId": "datastore-import",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "plan_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "required": [
                                    "resource_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/datastore/imports/{identifier}": {
            "get": {
                "tags": [
                    "Datastore: import"
                ],
                "summary": "Datastore statistics",
                "description": "Returns the numbers of rows and columns, and a list of columns headers from the datastore.\n",
                "operationId": "datastore-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "numOfRows": {
                                            "type": "integer"
                                        },
                                        "numOfColumns": {
                                            "type": "integer"
                                        },
                                        "columns": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "numOfRows",
                                        "numOfColumns",
                                        "columns"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Datastore: import"
                ],
                "summary": "Delete a datastore",
                "description": "Delete one or more datastores. If the uuid parameter is that of a resource, delete that resource. If the uuid parameter is that of a dataset, delete all resources of that dataset.\n",
                "operationId": "datastore-delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dataset has been deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/datastore/query": {
            "get": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query one or more datastore resources",
                "description": "Simple GET equivalent of a POST query. Note that parameters containing arrays or objects are not yet supported by SwaggerUI. For conditions, sorts, and other complex parameters, write your query in JSON and then convert to a nested query string. See [this web tool](https://www.convertonline.io/convert/json-to-query-string) for an example.",
                "operationId": "datastore-query-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreQueryLimit"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryOffset"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryCount"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryResults"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQuerySchema"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryKeys"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryFormat"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryRowIds"
                    },
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "Resources to query against and aliases. Usually you will add only one resource to this array, but if performing a join, list the primary resource first and then add resources to be used in the joins array.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/resources"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/properties"
                        }
                    },
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Conditions or groups of conditions for the query, bound by 'and' operator.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/conditions"
                        }
                    },
                    {
                        "name": "joins",
                        "in": "query",
                        "description": "Joins",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/joins"
                        }
                    },
                    {
                        "name": "groupings",
                        "in": "query",
                        "description": "Properties or aliases to group results by.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/groupings"
                        }
                    },
                    {
                        "name": "sorts",
                        "in": "query",
                        "description": "Result sorting directives.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/sorts"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200JsonOrCsvQueryOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    }
                }
            },
            "post": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query one or more datastore resources",
                "operationId": "datastore-query-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/datastoreQuery"
                            },
                            "example": {
                                "conditions": [
                                    {
                                        "resource": "t",
                                        "property": "record_number",
                                        "value": 1,
                                        "operator": ">"
                                    }
                                ],
                                "limit": 3,
                                "resources": [
                                    {
                                        "id": "1ee2fea0-00a3-58f4-8717-89b3cd62e442",
                                        "alias": "t"
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200JsonOrCsvQueryOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    }
                }
            }
        },
        "/datastore/query/download": {
            "get": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query one or more datastore resources for file download with get",
                "description": "Simple GET equivalent of a POST query. Note that parameters containing arrays or objects are not yet supported by SwaggerUI. For conditions, sorts, and other complex parameters, write your query in JSON and then convert to a nested query string. See [this web tool](https://www.convertonline.io/convert/json-to-query-string) for an example.",
                "operationId": "datastore-query-download-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreQueryLimit"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryOffset"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryCount"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryResults"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQuerySchema"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryKeys"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryFormat"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryRowIds"
                    },
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "Resources to query against and aliases. Usually you will add only one resource to this array, but if performing a join, list the primary resource first and then add resources to be used in the joins array.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/resources"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/properties"
                        }
                    },
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Conditions or groups of conditions for the query, bound by 'and' operator.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/conditions"
                        }
                    },
                    {
                        "name": "joins",
                        "in": "query",
                        "description": "Joins",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/joins"
                        }
                    },
                    {
                        "name": "groupings",
                        "in": "query",
                        "description": "Properties or aliases to group results by.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/groupings"
                        }
                    },
                    {
                        "name": "sorts",
                        "in": "query",
                        "description": "Result sorting directives.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/sorts"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200DatastoreCsvOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            },
            "post": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query one or more datastore resources for file download",
                "operationId": "datastore-query-download-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/datastoreQuery"
                            },
                            "example": {
                                "conditions": [
                                    {
                                        "resource": "t",
                                        "property": "record_number",
                                        "value": 1,
                                        "operator": ">"
                                    }
                                ],
                                "limit": 3,
                                "resources": [
                                    {
                                        "id": "1ee2fea0-00a3-58f4-8717-89b3cd62e442",
                                        "alias": "t"
                                    }
                                ],
                                "format": "csv"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200DatastoreCsvOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            }
        },
        "/datastore/query/{distributionId}": {
            "get": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query a single datastore resource with get",
                "description": "Simple GET equivalent of a POST query. Note that parameters containing arrays or objects are not yet supported by SwaggerUI. For conditions, sorts, and other complex parameters, write your query in JSON and then convert to a nested query string. See [this web tool](https://www.convertonline.io/convert/json-to-query-string) for an example.",
                "operationId": "datastore-resource-query-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreDistributionUuid"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryLimit"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryOffset"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryCount"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryResults"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQuerySchema"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryKeys"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryFormat"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryRowIds"
                    },
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "Resources to query against and aliases. Usually you will add only one resource to this array, but if performing a join, list the primary resource first and then add resources to be used in the joins array.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/resources"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/properties"
                        }
                    },
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Conditions or groups of conditions for the query, bound by 'and' operator.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/conditions"
                        }
                    },
                    {
                        "name": "joins",
                        "in": "query",
                        "description": "Joins",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/joins"
                        }
                    },
                    {
                        "name": "groupings",
                        "in": "query",
                        "description": "Properties or aliases to group results by.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/groupings"
                        }
                    },
                    {
                        "name": "sorts",
                        "in": "query",
                        "description": "Result sorting directives.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/sorts"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200JsonOrCsvQueryOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            },
            "post": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query a single datastore resource",
                "operationId": "datastore-resource-query-post",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreDistributionUuid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/datastoreResourceQuery"
                            },
                            "example": {
                                "conditions": [
                                    {
                                        "resource": "t",
                                        "property": "record_number",
                                        "value": 1,
                                        "operator": ">"
                                    }
                                ],
                                "limit": 3
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200JsonOrCsvQueryOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            }
        },
        "/datastore/query/{datasetId}/{index}": {
            "get": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query a single datastore resource with get",
                "description": "Simple GET equivalent of a POST query -- see the POST endpoint documentation for full query schema. A few basic parameters are provided here as examples. For more reliable queries, write your query in JSON and then convert to a query string. See [this web tool](https://www.convertonline.io/convert/json-to-query-string) for an example.",
                "operationId": "datastore-datasetindex-query-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreDatasetUuid"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreDistributionIndex"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryLimit"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryOffset"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryCount"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryResults"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQuerySchema"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryKeys"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryFormat"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreQueryRowIds"
                    },
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "Resources to query against and aliases. Usually you will add only one resource to this array, but if performing a join, list the primary resource first and then add resources to be used in the joins array.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/resources"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/properties"
                        }
                    },
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Conditions or groups of conditions for the query, bound by 'and' operator.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/conditions"
                        }
                    },
                    {
                        "name": "joins",
                        "in": "query",
                        "description": "Joins",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/joins"
                        }
                    },
                    {
                        "name": "groupings",
                        "in": "query",
                        "description": "Properties or aliases to group results by.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/groupings"
                        }
                    },
                    {
                        "name": "sorts",
                        "in": "query",
                        "description": "Result sorting directives.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/sorts"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200JsonOrCsvQueryOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            },
            "post": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query a single datastore resource",
                "operationId": "datastore-datasetindex-query-post",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreDatasetUuid"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreDistributionIndex"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/datastoreResourceQuery"
                            },
                            "example": {
                                "conditions": [
                                    {
                                        "resource": "t",
                                        "property": "record_number",
                                        "value": 1,
                                        "operator": ">"
                                    }
                                ],
                                "limit": 3
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200JsonOrCsvQueryOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            }
        },
        "/datastore/query/{distributionId}/download": {
            "get": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query a single datastore resource for file download",
                "description": "Like the other datastore query GET endpoints, additional parameters may be added by serializing a query JSON object (documented in the POST endpoints) into a query string.",
                "operationId": "datastore-resource-query-download-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreDistributionUuid"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format. Currently, only csv is supported.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "string"
                        },
                        "example": "csv"
                    },
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "Resources to query against and aliases. Usually you will add only one resource to this array, but if performing a join, list the primary resource first and then add resources to be used in the joins array.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/resources"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/properties"
                        }
                    },
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Conditions or groups of conditions for the query, bound by 'and' operator.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/conditions"
                        }
                    },
                    {
                        "name": "joins",
                        "in": "query",
                        "description": "Joins",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/joins"
                        }
                    },
                    {
                        "name": "groupings",
                        "in": "query",
                        "description": "Properties or aliases to group results by.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/groupings"
                        }
                    },
                    {
                        "name": "sorts",
                        "in": "query",
                        "description": "Result sorting directives.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/sorts"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200DatastoreCsvOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            }
        },
        "/datastore/query/{datasetId}/{index}/download": {
            "get": {
                "tags": [
                    "Datastore: query"
                ],
                "summary": "Query a single datastore resource for file download",
                "description": "Like the other datastore query GET endpoints, additional parameters may be added by serializing a query JSON object (documented in the POST endpoints) into a query string.",
                "operationId": "datastore-datasetindex-query-download-get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datastoreDatasetUuid"
                    },
                    {
                        "$ref": "#/components/parameters/datastoreDistributionIndex"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format. Currently, only csv is supported.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "string"
                        },
                        "example": "csv"
                    },
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "Resources to query against and aliases. Usually you will add only one resource to this array, but if performing a join, list the primary resource first and then add resources to be used in the joins array.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/resources"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/properties"
                        }
                    },
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Conditions or groups of conditions for the query, bound by 'and' operator.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/conditions"
                        }
                    },
                    {
                        "name": "joins",
                        "in": "query",
                        "description": "Joins",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/joins"
                        }
                    },
                    {
                        "name": "groupings",
                        "in": "query",
                        "description": "Properties or aliases to group results by.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/groupings"
                        }
                    },
                    {
                        "name": "sorts",
                        "in": "query",
                        "description": "Result sorting directives.",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "$ref": "#/components/schemas/datastoreQuery/properties/sorts"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200DatastoreCsvOk"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            }
        },
        "/datastore/sql": {
            "get": {
                "tags": [
                    "Datastore: SQL Query"
                ],
                "summary": "Query resources in datastore",
                "description": "Interact with resources in the datastore using an SQL-like syntax.\n",
                "operationId": "datastore-sql",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "A SQL-like query.\n\nA `SELECT` using the `show_db_columns` parameter will make it easier to build queries against the data as\nit returns columns without spaces and in some cases, truncated names where the human readable column header\nis very long.\n\n`/api/1/datastore/sql?query=[SELECT * FROM DATASTORE_UUID][LIMIT 1 OFFSET 0];&show_db_columns`\n\nYou can then build the `SELECT` part of the query. Do not use spaces between its arguments.\n\n`/api/1/datastore/sql?query=[SELECT a,b,c, FROM DATASTORE_UUID]`\n\n`WHERE` can use any column in the data.\n\n`/api/1/datastore/sql?query=[SELECT a,b FROM DATASTORE_UUID][WHERE c = \"CCC\"];&show_db_columns`\n\n`LIMIT` and `OFFSET` allow you to get more than the 500 record limit, by using successive queries:\n\n`/api/1/datastore/sql?query=[SELECT a,b,c FROM DATASTORE_UUID][WHERE d = \"CCC\"][LIMIT 500 OFFSET 0];&show_db_columns`\n\n`/api/1/datastore/sql?query=[SELECT a,b,c FROM DATASTORE_UUID][WHERE d = \"DDD\"][LIMIT 500 OFFSET 500];&show_db_columns`\n\nNote: `SELECT`, `WHERE` and `LIMIT...OFFSET` clauses must each be included within brackets `[ ]`.\n",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string"
                        },
                        "example": "[SELECT * FROM 1ee2fea0-00a3-58f4-8717-89b3cd62e442][LIMIT 2]"
                    },
                    {
                        "name": "show_db_columns",
                        "in": "query",
                        "description": "Add `&show_db_columns` to return columns without spaces and in some cases, truncated names where the human\nreadable column header is very long.\n",
                        "allowEmptyValue": true,
                        "style": "form",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok. Query successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "Simple result row, key/value pairs.",
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/harvest/plans": {
            "get": {
                "tags": [
                    "Harvest"
                ],
                "summary": "List harvest identifiers",
                "description": "Lists the identifiers of all registered harvests.\n",
                "operationId": "harvest-get-all",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Harvest"
                ],
                "summary": "Register a new harvest",
                "description": "Registers a new harvest, after validating against our schema.\n",
                "operationId": "harvest-register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/harvestPlan"
                            },
                            "example": {
                                "identifier": "h1",
                                "extract": {
                                    "type": "\\Drupal\\harvest\\ETL\\Extract\\DataJson",
                                    "uri": "https://dkan-default-content-files.s3.amazonaws.com/data.json"
                                },
                                "transforms": [],
                                "load": {
                                    "type": "\\Drupal\\harvest\\Load\\Dataset"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "endpoint": {
                                            "type": "string"
                                        },
                                        "identifier": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "identifier"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Usually a mistake in the JSON."
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/harvest/plans/{plan_id}": {
            "get": {
                "tags": [
                    "Harvest"
                ],
                "summary": "Get single harvest plan",
                "description": "Get the json plan of a registered harvest, based on the its harvest id.\n",
                "operationId": "harvest-get-single",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/harvestPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/harvestPlan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/harvest/runs/{run_id}": {
            "get": {
                "tags": [
                    "Harvest"
                ],
                "summary": "Information about a previous run",
                "description": "Gives information about a previous run for a specific harvest run.\n",
                "operationId": "harvest-run-info",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/harvestRunId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/harvest/runs": {
            "get": {
                "tags": [
                    "Harvest"
                ],
                "summary": "List previous runs for a harvest id",
                "description": "Lists the identifiers (timestamps) of previous runs for a particular harvest id.\n",
                "operationId": "harvest-info",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/harvestPlanIdQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Harvest"
                ],
                "summary": "Run a harvest",
                "description": "Runs a harvest for a specific plan identifier inside json object payload.\n",
                "operationId": "harvest-run",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "plan_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "required": [
                                    "plan_id"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "identifier": {
                                            "type": "string"
                                        },
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "identifier",
                                        "result"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/metastore/schemas": {
            "get": {
                "tags": [
                    "Metastore"
                ],
                "summary": "Get list of all schemas",
                "operationId": "metastore-get-schemas",
                "responses": {
                    "200": {
                        "description": "List of metastore schemas.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Full collection of available metastore schemas",
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metastore/schemas/{schema_id}": {
            "get": {
                "tags": [
                    "Metastore"
                ],
                "summary": "Get a specific schema",
                "operationId": "metastore-get-schema",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/schemaId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A schema definition, see https://json-schema.org/",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Schema not found"
                    }
                }
            }
        },
        "/metastore/schemas/{schema_id}/items": {
            "get": {
                "tags": [
                    "Metastore"
                ],
                "summary": "Get all items for a specific schema (e.g., \"dataset\")",
                "operationId": "metastore-get-all",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/schemaId"
                    },
                    {
                        "$ref": "#/components/parameters/showReferenceIds"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Full list of all items for the given schema",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Array of metastore items matching the chosen schema.",
                                    "items": {
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metastore/schemas/{schema_id}/items/{identifier}/revisions": {
            "get": {
                "tags": [
                    "Metastore"
                ],
                "summary": "Get all revisions for an item.",
                "operationId": "metastore-get-all-revisions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/schemaId"
                    },
                    {
                        "$ref": "#/components/parameters/exampleUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Array of revision objects.",
                                    "items": {
                                        "$ref": "#/components/schemas/metastoreRevision"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Metastore"
                ],
                "summary": "Create new item revision/state.",
                "operationId": "metastore-revision-post",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/schemaId"
                    },
                    {
                        "$ref": "#/components/parameters/exampleUuid"
                    }
                ],
                "requestBody": {
                    "description": "Post a new revision object to change an item's moderation state. Simultaneous metastore item content changes and state changes not currently possible.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "message": {
                                        "description": "Revision log message.",
                                        "type": "string"
                                    },
                                    "state": {
                                        "description": "The workflow state of this revision. Currently five states are supported in DKAN.",
                                        "enum": [
                                            "draft",
                                            "published",
                                            "hidden",
                                            "archived",
                                            "orphaned"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/201MetadataCreated"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/metastore/schemas/{schema_id}/items/{identifier}/revisions/{revision_id}": {
            "get": {
                "tags": [
                    "Metastore"
                ],
                "summary": "Get all revisions for an item.",
                "operationId": "metastore-get-revision",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/schemaId"
                    },
                    {
                        "$ref": "#/components/parameters/exampleUuid"
                    },
                    {
                        "name": "revision_id",
                        "in": "path",
                        "description": "Revision identifier. Use \"identifier\" property from revision object.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/metastoreRevision"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/metastore/schemas/dataset/items": {
            "get": {
                "tags": [
                    "Metastore: dataset"
                ],
                "summary": "Get all datasets.",
                "operationId": "dataset-get-item",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/showReferenceIds"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Full dataset item.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/datasets"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            },
            "put": {
                "tags": [
                    "Metastore: dataset"
                ],
                "summary": "Replace a dataset",
                "description": "Object will be completely replaced; optional properties not included in the request will be deleted.\n\nAutomatic example not yet available; try retrieving a dataset via GET, changing values, and pasting to test. If no item exists with the provided identifier, it will be created.",
                "operationId": "dataset-put",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datasetUuid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dataset"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200MetadataUpdated"
                    },
                    "201": {
                        "$ref": "#/components/responses/201MetadataCreated"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "409": {
                        "$ref": "#/components/responses/409MetadataAlreadyExists"
                    },
                    "404": {
                        "$ref": "#/components/responses/404MetadataObjectNotFound"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Metastore: dataset"
                ],
                "summary": "Modify an existing dataset",
                "description": "Values provided will replace existing values, but required values may be omitted.\n\nAutomatic example not yet available; try retrieving a dataset via GET, changing values, removing unchanged properties, and pasting to test.",
                "operationId": "dataset-patch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datasetUuid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Project Open Data Dataset",
                                "description": "The metadata format for all federal open data. Validates a single JSON object entry (as opposed to entire Data.json catalog).",
                                "properties": {
                                    "@type": {
                                        "title": "Metadata Context",
                                        "description": "IRI for the JSON-LD data type. This should be dcat:Dataset for each Dataset.",
                                        "type": "string",
                                        "default": "dcat:Dataset"
                                    },
                                    "title": {
                                        "title": "Title",
                                        "description": "Human-readable name of the asset. Should be in plain English and include sufficient detail to facilitate search and discovery.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "identifier": {
                                        "title": "Unique Identifier",
                                        "description": "A unique identifier for the dataset or API as maintained within an Agency catalog or database.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "description": {
                                        "title": "Description",
                                        "description": "Human-readable description (e.g., an abstract) with sufficient detail to enable a user to quickly understand whether the asset is of interest.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "accessLevel": {
                                        "title": "Public Access Level",
                                        "description": "The degree to which this dataset could be made publicly-available, regardless of whether it has been made available. Choices: public (Data asset is or could be made publicly available to all without restrictions), restricted public (Data asset is available under certain use restrictions), or non-public (Data asset is not available to members of the public).",
                                        "enum": [
                                            "public",
                                            "restricted public",
                                            "private",
                                            "non-public"
                                        ],
                                        "type": "string",
                                        "default": "public"
                                    },
                                    "rights": {
                                        "title": "Rights",
                                        "description": "This may include information regarding access or restrictions based on privacy, security, or other policies. This should also provide an explanation for the selected \"accessLevel\" including instructions for how to access a restricted file, if applicable, or explanation for why a \"non-public\" or \"restricted public\" data assetis not \"public,\" if applicable. Text, 255 characters.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "accrualPeriodicity": {
                                        "title": "Frequency",
                                        "description": "Frequency with which dataset is published.",
                                        "enum": [
                                            "R/P10Y",
                                            "R/P4Y",
                                            "R/P1Y",
                                            "R/P2M",
                                            "R/P3.5D",
                                            "R/P1D",
                                            "R/P2W",
                                            "R/P6M",
                                            "R/P2Y",
                                            "R/P3Y",
                                            "R/P0.33W",
                                            "R/P0.33M",
                                            "R/PT1S",
                                            "R/P1M",
                                            "R/P3M",
                                            "R/P0.5M",
                                            "R/P4M",
                                            "R/P1W",
                                            "R/PT1H",
                                            "irregular"
                                        ],
                                        "type": "string"
                                    },
                                    "describedBy": {
                                        "title": "Data Dictionary",
                                        "description": "URL to the data dictionary for the dataset or API. Note that documentation other than a data dictionary can be referenced using Related Documents as shown in the expanded fields.",
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "describedByType": {
                                        "title": "Data Dictionary Type",
                                        "description": "The machine-readable file format (IANA Media Type or MIME Type) of the distribution\u2019s describedBy URL.",
                                        "type": "string"
                                    },
                                    "issued": {
                                        "title": "Issue Date",
                                        "description": "Date of formal issuance.",
                                        "type": "string"
                                    },
                                    "modified": {
                                        "title": "Last Modified",
                                        "description": "Most recent date on which the dataset was changed, updated or modified.",
                                        "type": "string"
                                    },
                                    "released": {
                                        "title": "Release Date",
                                        "description": "Date on which the dataset is scheduled to be published.",
                                        "type": "string"
                                    },
                                    "nextUpdateDate": {
                                        "title": "Next Update Date",
                                        "description": "The date on which the dataset is expected to be updated next.",
                                        "type": "string"
                                    },
                                    "license": {
                                        "title": "License",
                                        "description": "The license dataset or API is published with. See <a href=\"https://project-open-data.cio.gov/open-licenses/\">Open Licenses</a> for more information.",
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "spatial": {
                                        "title": "Spatial",
                                        "description": "The <a href=\"https://project-open-data.cio.gov/v1.1/schema/#spatial\">spatial coverage</a> of the dataset. Could include a spatial region like a bounding box or a named place.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "temporal": {
                                        "title": "Temporal",
                                        "description": "The <a href=\"https://project-open-data.cio.gov/v1.1/schema/#temporal\">start and end dates</a> for which the dataset is applicable, separated by a \"/\" (i.e., 2000-01-15T00:45:00Z/2010-01-15T00:06:00Z).",
                                        "type": "string"
                                    },
                                    "isPartOf": {
                                        "title": "Collection",
                                        "description": "The collection of which the dataset is a subset.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "publisher": {
                                        "title": "Organization",
                                        "description": "A Dataset Publisher Organization.",
                                        "properties": {
                                            "@type": {
                                                "title": "Metadata Context",
                                                "description": "IRI for the JSON-LD data type. This should be org:Organization for each publisher",
                                                "type": "string",
                                                "default": "org:Organization"
                                            },
                                            "name": {
                                                "title": "Publisher Name",
                                                "description": "",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "subOrganizationOf": {
                                                "title": "Parent Organization",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "bureauCode": {
                                        "title": "Bureau Code",
                                        "description": "Federal agencies, combined agency and bureau code from <a href=\"http://www.whitehouse.gov/sites/default/files/omb/assets/a11_current_year/app_c.pdf\">OMB Circular A-11, Appendix C</a> in the format of <code>015:010</code>.",
                                        "minItems": 1,
                                        "uniqueItems": true,
                                        "items": {
                                            "pattern": "[0-9]{3}:[0-9]{2}",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "programCode": {
                                        "title": "Program Code",
                                        "description": "Federal agencies, list the primary program related to this data asset, from the <a href=\"http://goals.performance.gov/sites/default/files/images/FederalProgramInventory_FY13_MachineReadable_091613.xls\">Federal Program Inventory</a>. Use the format of <code>015:001</code>",
                                        "minItems": 1,
                                        "uniqueItems": true,
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "contactPoint": {
                                        "title": "Project Open Data ContactPoint vCard",
                                        "description": "A Dataset ContactPoint as a vCard object.",
                                        "properties": {
                                            "@type": {
                                                "title": "Metadata Context",
                                                "description": "IRI for the JSON-LD data type. This should be vcard:Contact for contactPoint.",
                                                "enum": [
                                                    "vcard:Contact"
                                                ],
                                                "type": "string"
                                            },
                                            "fn": {
                                                "title": "Contact Name",
                                                "description": "A full formatted name, e.g. Firstname Lastname.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "hasEmail": {
                                                "title": "Email",
                                                "description": "Email address for the contact name.",
                                                "pattern": "^mailto:[\\w\\_\\~\\!\\$\\&\\'\\(\\)\\*\\+\\,\\;\\=\\:.-]+@[\\w.-]+\\.[\\w.-]+?$|[\\w\\_\\~\\!\\$\\&\\'\\(\\)\\*\\+\\,\\;\\=\\:.-]+@[\\w.-]+\\.[\\w.-]+?$",
                                                "type": "string"
                                            },
                                            "hasURL": {
                                                "title": "URL",
                                                "description": "URL for the contact",
                                                "type": "string",
                                                "format": "uri"
                                            }
                                        },
                                        "type": "object",
                                        "oneOf": [
                                            {
                                                "type": "object"
                                            },
                                            {
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "theme": {
                                        "title": "Category",
                                        "description": "Main thematic category of the dataset.",
                                        "uniqueItems": true,
                                        "items": {
                                            "title": "Category",
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "keyword": {
                                        "title": "Tags",
                                        "description": "Tags (or keywords) help users discover your dataset; please include terms that would be used by technical and non-technical users.",
                                        "minItems": 1,
                                        "items": {
                                            "title": "Tag",
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "distribution": {
                                        "title": "Distribution",
                                        "description": "A distribution is a container for the data object. Each distribution should contain one accessURL or downloadURL. When providing a downloadURL, also include the format of the file.",
                                        "items": {
                                            "title": "Data File",
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "properties": {
                                                "@type": {
                                                    "title": "Metadata Context",
                                                    "description": "IRI for the JSON-LD data type. This should be dcat:Distribution for each Distribution.",
                                                    "type": "string",
                                                    "default": "dcat:Distribution",
                                                    "readOnly": true
                                                },
                                                "title": {
                                                    "title": "Title",
                                                    "description": "Human-readable name of the file.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "title": "Description",
                                                    "description": "Human-readable description of the file.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "format": {
                                                    "title": "Format",
                                                    "description": "A human-readable description of the file format of a distribution (i.e. csv, pdf, kml, etc.).",
                                                    "type": "string"
                                                },
                                                "mediaType": {
                                                    "title": "Media Type",
                                                    "description": "The machine-readable file format (<a href=\"https://www.iana.org/assignments/media-types/media-types.xhtml\">IANA Media Type or MIME Type</a>) of the distribution\u2019s downloadURL.",
                                                    "type": "string"
                                                },
                                                "downloadURL": {
                                                    "title": "Download URL",
                                                    "description": "URL providing direct access to a downloadable file of a dataset.",
                                                    "type": "string",
                                                    "anyOf": [
                                                        {
                                                            "format": "uri"
                                                        }
                                                    ]
                                                },
                                                "accessURL": {
                                                    "title": "Access URL",
                                                    "description": "URL providing indirect access to a dataset.",
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "conformsTo": {
                                                    "title": "Data Standard",
                                                    "description": "URI used to identify a standardized specification the distribution conforms to.",
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "describedBy": {
                                                    "title": "Data Dictionary",
                                                    "description": "URL to the data dictionary for the distribution found at the downloadURL.",
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "describedByType": {
                                                    "title": "Data Dictionary Type",
                                                    "description": "The machine-readable file format (IANA Media Type or MIME Type) of the distribution\u2019s describedBy URL.",
                                                    "pattern": "^[a-z]+?$",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "references": {
                                        "title": "Related Documents",
                                        "description": "Related documents such as technical information about a dataset, developer documentation, etc.",
                                        "items": {
                                            "type": "string",
                                            "format": "uri"
                                        },
                                        "type": "array"
                                    },
                                    "archiveExclude": {
                                        "title": "Exclude from Archive",
                                        "description": "For excluding this dataset from its provider's 'download all datasets'.",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200MetadataUpdated"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "404": {
                        "$ref": "#/components/responses/404MetadataObjectNotFound"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/metastore/schemas/dataset/items/{identifier}": {
            "get": {
                "tags": [
                    "Metastore: dataset"
                ],
                "summary": "Get a single dataset.",
                "operationId": "dataset-get-item",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datasetUuid"
                    },
                    {
                        "$ref": "#/components/parameters/showReferenceIds"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Full dataset item.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataset"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404IdNotFound"
                    }
                }
            },
            "put": {
                "tags": [
                    "Metastore: dataset"
                ],
                "summary": "Replace a dataset",
                "description": "Object will be completely replaced; optional properties not included in the request will be deleted.\n\nAutomatic example not yet available; try retrieving a dataset via GET, changing values, and pasting to test. If no item exists with the provided identifier, it will be created.",
                "operationId": "dataset-put",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datasetUuid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dataset"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200MetadataUpdated"
                    },
                    "201": {
                        "$ref": "#/components/responses/201MetadataCreated"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadJson"
                    },
                    "409": {
                        "$ref": "#/components/responses/409MetadataAlreadyExists"
                    },
                    "404": {
                        "$ref": "#/components/responses/404MetadataObjectNotFound"
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Metastore: dataset"
                ],
                "summary": "Modify an existing dataset",
                "description": "Values provided will replace existing values, but required values may be omitted.\n\nAutomatic example not yet available; try retrieving a dataset via GET, changing values, removing unchanged properties, and pasting to test.",
                "operationId": "dataset-patch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/datasetUuid"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Project Open Data Dataset",
                                "description": "The metadata format for all federal open data. Validates a single JSON object entry (as opposed to entire Data.json catalog).",
                                "properties": {
                                    "@type": {
                                        "title": "Metadata Context",
                                        "description": "IRI for the JSON-LD data type. This should be dcat:Dataset for each Dataset.",
                                        "type": "string",
                                        "default": "dcat:Dataset"
                                    },
                                    "title": {
                                        "title": "Title",
                                        "description": "Human-readable name of the asset. Should be in plain English and include sufficient detail to facilitate search and discovery.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "identifier": {
                                        "title": "Unique Identifier",
                                        "description": "A unique identifier for the dataset or API as maintained within an Agency catalog or database.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "description": {
                                        "title": "Description",
                                        "description": "Human-readable description (e.g., an abstract) with sufficient detail to enable a user to quickly understand whether the asset is of interest.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "accessLevel": {
                                        "title": "Public Access Level",
                                        "description": "The degree to which this dataset could be made publicly-available, regardless of whether it has been made available. Choices: public (Data asset is or could be made publicly available to all without restrictions), restricted public (Data asset is available under certain use restrictions), or non-public (Data asset is not available to members of the public).",
                                        "enum": [
                                            "public",
                                            "restricted public",
                                            "private",
                                            "non-public"
                                        ],
                                        "type": "string",
                                        "default": "public"
                                    },
                                    "rights": {
                                        "title": "Rights",
[...]
